<ul class = "menu-root">
    <li><a class="" href="/documentation">Docs Home</a></li>
</ul>

<ul class = "menu-sub">
<li class="header">Objects:</li>
<% docsData.objects.forEach(function(item){ %>
    <% if(pageID == item.name){ %>
        <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <%} else { %>
        <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <% }}); %>
</ul>

<ul class = "menu-sub">
    <li class="header"> Polygon Functions:</li>
    <% docsData.polygon_functions.forEach(function(item){ %>
    <% if(pageID == item.name){ %>
        <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <%} else { %>
        <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <% }}); %>
</ul>


<ul class = "menu-sub">
    <li class="header"> Points Functions:</li>
    <% docsData.points_functions.forEach(function(item){ %>
    <% if(pageID == item.name){ %>
        <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <%} else { %>
        <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <% }}); %>
</ul>

<ul class = "menu-sub">
    <li class="header"> Drawing Functions:</li>
    <% docsData.drawing_functions.forEach(function(item){ %>
    <% if(pageID == item.name){ %>
        <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <%} else { %>
        <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <% }}); %>
</ul>


<ul class = "menu-sub">
    <li class="header"> Miscalleneous Functions:</li>
    <% docsData.misc_functions.forEach(function(item){ %>
    <% if(pageID == item.name){ %>
        <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <%} else { %>
        <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
    <% }}); %>
</ul>


