<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %> 
    <link rel="stylesheet" href="/static/css/documentation.css">
    <% include partials/templates/jsdefaults.ejs %> 

    <style>
        div.column{
            float: left;
            width: 28.5%;

            padding: 5px 5px 5px 5px;
            margin: 5px 15px 10px 0px;

            border: 1px solid #d8d8d8;
            border-radius: 5px;

            height:200px;
        }

        .column ul{

            margin-left:-15px;
            padding-left:20px;
            margin-top:-10px;

        }

        .column li{
            list-style:none;
        }

    </style>

</head>
<body>

<div id="nav">
    <% include partials/templates/navigation.ejs %>
</div>
<div id="doc_nav">
    <% include partials/templates/doc_navigation.ejs %>
</div>    
    
    <article>     

    <h1>Documentation</h1>    
        <p>Hello, this documentation page consists of explanations with an interactive tutorial on how to use WebCgal. You can change the code and run again by pressing "Run"</p>

        <div class = "column">
            <p class="big"> Objects: </p>
            <ul>
            <% docsData.objects.forEach(function(item){ %>
                <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
            <% }); %>
            </ul>
        </div>

        <div class = "column">
           <p class="big"> Polygon Functions: </p>
            <ul>
            <% docsData.polygon_functions.forEach(function(item){ %>
                <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
            <% }); %>
            </ul>
        </div>

       <div class = "column">
            <p class="big"> Points Functions: </p>
            <ul>
            <% docsData.points_functions.forEach(function(item){ %>
                <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
            <% }); %>
            </ul>
        </div>

      <div class = "column">
           <p class="big"> Drawing Functions: </p>
            <ul>
            <% docsData.drawing_functions.forEach(function(item){ %>
                <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
            <% }); %>
            </ul>
        </div>

        <div class = "column">
            <p class="big"> Misc. Functions: </p>
            <ul>
            <% docsData.misc_functions.forEach(function(item){ %>
                <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
            <% }); %>
            </ul>
        </div>



        
    <h2><%#- docsData.objects[0].name %>  </h2>
    <%#-myConcat(docsData.objects[0].text); %>


<!--This is the EJS mode exactly. More automated than the one in playground.ejs-->
        
<%# canvas_id=0 // initialize public variable %>

<%# include partials/content/documentationPaperStart.ejs %>
<!--var polygon = createPolygon('star');-->
<!--polygon.draw();-->
<%# include partials/content/documentationPaperEnd.ejs %>

<div style="margin: 500px;"></div>

<div class="panel info">
    <b>Info:</b> Please send an email to the developer if you realize that there is something to document or written incorrectly. Contact information of developer is at <a href = "/#about">about</a> page.
</div>

        
</article>
    <% include partials/paperjs/pre_defined_polygons.svg %>

</body>
</html>


<script src="/reload/reload.js"></script>
