<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %> 
    <link rel="stylesheet" href="/static/css/documentation.css">
    <% include partials/templates/jsdefaults.ejs %> 

</head>
<body>

<div id="nav">
    <% include partials/templates/navigation.ejs %>
</div>
    
<div id="doc_nav">
    
    <ul class = "menu-root">
        <li><a class="" href="/documentation">Docs Home</a></li>
    </ul>
    
    <ul class = "menu-sub">
    <li class="header">Objects:</li>
    <% documentsData.objects.forEach(function(item){ %>
        <% if(pageID == item.name){ %>
            <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
        <%} else { %>
            <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
        <% }}); %>
    </ul>

    <ul class = "menu-sub">
        <li class="header"> Functions:</li>
        <% documentsData.functions.forEach(function(item){ %>
        <% if(pageID == item.name){ %>
            <li><a class="active" href="/documentation/<%= item.name %>"><%= item.name %></a></li>
        <%} else { %>
            <li><a href="/documentation/<%= item.name %>"><%= item.name %></a></li>
        <% }}); %>
        </ul>
</div>

<article>
    
    <h1><%= pageTitle %>  </h1>
    <%-myConcat(pageText); %> 

    <% canvas_id=0 // initialize canvas public variable %>

    <%if(typeof pageCode != 'undefined'){%>
    <% include partials/content/documentationPaperStart.ejs %>
<%- pageCode[0].join('') %>
    <% include partials/content/documentationPaperEnd.ejs %>
    <% }%>



</article>    

</body>
        <% include partials/paperjs/pre_defined_polygons.svg %>
</html>

<script>
    document.getElementById('Documentation').className = "active";
</script>
<script src="/reload/reload.js"></script>
